langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-groq
langchain-chroma
langgraph
langchain-text-splitters
python-dotenv
pypdf
ddgs
python-multipart
fastapi
